.head {
    font-size: 12px;
}

.smalltext {
    font-size: 12px;
}

.i_table {
    width: 90%;
}

.t_f {
    font-size: 22px;
    line-height: 160%;
}

font {
    font-size: 19px;
}

h1 {
    font-size: 24px;
}
