.head {
    font-size: 14px;
}

.smalltext {
    font-size: 14px;
}

.t_f {
    font-size: 23px;
    line-height: 150%;
}

font {
    font-size: 23px;
}

h1 {
    font-size: 25px;
}
