.head {
    font-size: 12px;
}

.smalltext {
    font-size: 12px;
}

.t_f {
    font-size: 17px;
    line-height: 150%;
}

font {
    font-size: 17px;
}

h1 {
    font-size: 19px;
}
