<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<string>1</string>
	<key>default.text.tint</key>
	<string>3</string>
	<key>default.bar.tint</key>
	<string>1</string>
	<key>appearance.toolbar.bartint</key>
	<string>1</string>
	<key>appearance.toolbar.tint</key>
	<string>3</string>
	<key>appearance.navigationbar.bartint</key>
	<string>1</string>
	<key>appearance.navigationbar.tint</key>
	<string>3</string>
	<key>appearance.navigationbar.title</key>
	<string>3</string>
	<key>appearance.switch.tint</key>
	<string>4</string>
	<key>appearance.searchbar.text</key>
	<string>3</string>
	<key>tabbar.background</key>
	<string>3</string>
	<key>tabbar.button.background.normal</key>
	<string>1</string>
	<key>tabbar.button.background.selected</key>
	<string>2</string>
	<key>tabbar.button.background.highlighted</key>
	<string>2</string>
	<key>tabbar.button.tint</key>
	<string>3</string>
	<key>topiclist.background</key>
	<string>5</string>
	<key>topiclist.navigationbar.titlelabel</key>
	<string>3</string>
	<key>topiclist.tableview.separator</key>
	<string>1</string>
	<key>topiclist.tableview.background</key>
	<string>5</string>
	<key>topiclist.tableview.header.text</key>
	<string>4</string>
	<key>topiclist.tableview.header.background</key>
	<string>24</string>
	<key>topiclist.tableview.footer.text</key>
	<string>4</string>
	<key>topiclist.tableview.footer.background</key>
	<string>5</string>
	<key>topiclist.cell.background.normal</key>
	<string>5</string>
	<key>topiclist.cell.background.highlight</key>
	<string>6</string>
	<key>topiclist.cell.replycount.border.normal</key>
	<string>14</string>
	<key>topiclist.cell.replycount.border.history</key>
	<string>15</string>
	<key>topiclist.cell.replycount.border.favorite</key>
	<string>16</string>
	<key>topiclist.cell.replycount.fill</key>
	<string>13</string>
	<key>topiclist.cell.replycount.text.normal</key>
	<string>17</string>
	<key>topiclist.cell.replycount.text.history</key>
	<string>18</string>
	<key>topiclist.cell.replycount.text.favorite</key>
	<string>19</string>
	<key>topiclist.cell.title.text</key>
	<string>21</string>
	<key>topiclist.cell.title.highlight</key>
	<string>20</string>
	<key>topiclist.refreshcontrol.tint</key>
	<string>6</string>
	<key>topiclist.searchbar.bartint</key>
	<string>5</string>
	<key>topiclist.searchbar.tint</key>
	<string>4</string>
	<key>content.background</key>
	<string>5</string>
	<key>content.webview.background</key>
	<string>5</string>
	<key>content.decoration.line</key>
	<string>14</string>
	<key>content.pagelabel.text</key>
	<string>3</string>
	<key>content.tint</key>
	<string>3</string>
	<key>content.popupwebview.tint</key>
	<string>3</string>
	<key>content.titlelabel.text.normal</key>
	<string>21</string>
	<key>content.titlelabel.text.disable</key>
	<string>17</string>
	<key>content.picker.background</key>
	<string>7</string>
	<key>content.picker.text</key>
	<string>8</string>
	<key>reply.background</key>
	<string>7</string>
	<key>reply.text</key>
	<string>8</string>
	<key>reply.tint</key>
	<string>3</string>
	<key>mahjongface.background</key>
	<string>5</string>
	<key>mahjongface.pagecontrol.indicatortint</key>
	<string>1</string>
	<key>mahjongface.pagecontrol.currentpage</key>
	<string>3</string>
	<key>mahjongface.backspace.tint</key>
	<string>3</string>
	<key>hud.border</key>
	<string>3</string>
	<key>hud.background</key>
	<string>22</string>
	<key>hud.text</key>
	<string>23</string>
	<key>overlay.background</key>
	<string>6</string>
	<key>overlay.text</key>
	<string>3</string>
	<key>login.background</key>
	<string>1</string>
	<key>login.button</key>
	<string>4</string>
	<key>login.text</key>
	<string>3</string>
</dict>
</plist>
