<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>#DAE0CC</string>
	<key>2</key>
	<string>#C9D0BF</string>
	<key>3</key>
	<string>#333333</string>
	<key>4</key>
	<string>#476999</string>
	<key>5</key>
	<string>#F7F9EF</string>
	<key>6</key>
	<string>#EFEEE2</string>
	<key>7</key>
	<string></string>
	<key>8</key>
	<string></string>
	<key>9</key>
	<string></string>
	<key>10</key>
	<string></string>
	<key>11</key>
	<string></string>
	<key>12</key>
	<string></string>
	<key>13</key>
	<string></string>
	<key>14</key>
	<string>#CCCCCC</string>
	<key>15</key>
	<string>#5AA3E8</string>
	<key>16</key>
	<string>#FDDB7D</string>
	<key>17</key>
	<string>#AAAAAA</string>
	<key>18</key>
	<string>#0090FF</string>
	<key>19</key>
	<string>#F8B42D</string>
	<key>20</key>
	<string>#E79A54</string>
	<key>21</key>
	<string>#022C80</string>
	<key>22</key>
	<string>#33333333</string>
	<key>23</key>
	<string>#E6E6E6</string>
	<key>24</key>
	<string>#B2DAE0CC</string>
	<key>25</key>
	<string></string>
</dict>
</plist>
