<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>外野</string>
		<string>动漫论坛</string>
		<string>游戏论坛</string>
		<string>ＰＣ数码</string>
		<string>影视论坛</string>
		<string>文史沙龙</string>
		<string>彼岸文化</string>
		<string>八卦体育</string>
	</array>
	<array>
		<string>音乐论坛</string>
		<string>二手交易区</string>
		<string>英雄联盟</string>
		<string>吃货</string>
		<string>火暴</string>
		<string>马叉虫</string>
		<string>车欠女未</string>
		<string>犭苗犭句</string>
		<string>摄影区</string>
		<string>开箱区</string>
		<string>魔兽世界</string>
		<string>车</string>
		<string>炉石传说</string>
		<string>剑灵</string>
		<string>热血魔兽</string>
		<string>手游页游</string>
		<string>模玩专区</string>
		<string>激战2</string>
		<string>动漫投票</string>
		<string>怪物猎人</string>
		<string>内野</string>
		<string>真碉堡山</string>
		<string>欧美动漫</string>
	</array>
</array>
</plist>
