<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>normal</string>
	<string>face</string>
	<string>dym</string>
	<string>goose</string>
	<string>zdl</string>
	<string>nq</string>
	<string>flash</string>
	<string>animal</string>
	<string>carton</string>
	<string>bundam</string>
</array>
</plist>
