<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>face</key>
	<dict>
		<key>[s:185]</key>
		<string>face/91.gif</string>
		<key>{:3_562:}</key>
		<string>face/64.gif</string>
		<key>{:3_563:}</key>
		<string>face/63.gif</string>
		<key>{:3_564:}</key>
		<string>face/67.gif</string>
		<key>{:3_565:}</key>
		<string>face/69.gif</string>
		<key>{:3_566:}</key>
		<string>face/71.gif</string>
		<key>[s:181]</key>
		<string>face/54.gif</string>
		<key>[s:180]</key>
		<string>face/163.gif</string>
		<key>[s:179]</key>
		<string>face/61.gif</string>
		<key>[s:178]</key>
		<string>face/160.gif</string>
		<key>[s:177]</key>
		<string>face/89.gif</string>
		<key>[s:175]</key>
		<string>face/101.gif</string>
		<key>[s:173]</key>
		<string>face/56.gif</string>
		<key>[s:172]</key>
		<string>face/116.gif</string>
		<key>{:3_561:}</key>
		<string>face/78.gif</string>
		<key>{:3_560:}</key>
		<string>face/76.gif</string>
		<key>{:3_559:}</key>
		<string>face/72.gif</string>
		<key>[s:183]</key>
		<string>face/174.gif</string>
		<key>[s:188]</key>
		<string>face/176.gif</string>
		<key>[s:189]</key>
		<string>face/95.gif</string>
		<key>[s:191]</key>
		<string>face/60.gif</string>
		<key>[s:192]</key>
		<string>face/93.gif</string>
		<key>[s:193]</key>
		<string>face/79.gif</string>
		<key>[s:194]</key>
		<string>face/134.gif</string>
		<key>[s:182]</key>
		<string>face/169.jpg</string>
		<key>[s:197]</key>
		<string>face/185.gif</string>
		<key>[s:1238]</key>
		<string>face/121.png</string>
		<key>{:3_556:}</key>
		<string>face/70.gif</string>
		<key>{:3_557:}</key>
		<string>face/65.gif</string>
		<key>{:3_558:}</key>
		<string>face/192.gif</string>
		<key>[s:171]</key>
		<string>face/177.gif</string>
		<key>[s:170]</key>
		<string>face/87.gif</string>
		<key>[s:158]</key>
		<string>face/127.gif</string>
		<key>[s:196]</key>
		<string>face/107.gif</string>
		<key>[s:156]</key>
		<string>face/44.gif</string>
		<key>[s:155]</key>
		<string>face/151.gif</string>
		<key>[s:154]</key>
		<string>face/140.gif</string>
		<key>[s:153]</key>
		<string>face/130.gif</string>
		<key>[s:151]</key>
		<string>face/94.jpg</string>
		<key>[s:149]</key>
		<string>face/119.gif</string>
		<key>[s:147]</key>
		<string>face/153.gif</string>
		<key>{:3_567:}</key>
		<string>face/73.gif</string>
		<key>{:3_568:}</key>
		<string>face/62.gif</string>
		<key>{:3_569:}</key>
		<string>face/68.gif</string>
		<key>{:3_570:}</key>
		<string>face/83.gif</string>
		<key>[s:159]</key>
		<string>face/191.gif</string>
		<key>[s:157]</key>
		<string>face/86.gif</string>
		<key>[s:186]</key>
		<string>face/124.jpg</string>
		<key>[s:168]</key>
		<string>face/42.gif</string>
		<key>[s:165]</key>
		<string>face/172.gif</string>
		<key>[s:167]</key>
		<string>face/161.jpg</string>
		<key>[s:164]</key>
		<string>face/41.gif</string>
		<key>[s:161]</key>
		<string>face/50.gif</string>
		<key>[s:27]</key>
		<string>face/00.gif</string>
		<key>[s:169]</key>
		<string>face/149.gif</string>
		<key>[s:166]</key>
		<string>face/136.gif</string>
		<key>[s:33]</key>
		<string>face/01.gif</string>
		<key>[s:24]</key>
		<string>face/02.gif</string>
		<key>[s:12]</key>
		<string>face/03.gif</string>
		<key>[s:38]</key>
		<string>face/04.gif</string>
		<key>[s:29]</key>
		<string>face/05.gif</string>
		<key>[s:19]</key>
		<string>face/06.gif</string>
		<key>[s:28]</key>
		<string>face/07.gif</string>
		<key>[s:22]</key>
		<string>face/08.gif</string>
		<key>[s:9]</key>
		<string>face/09.gif</string>
		<key>[s:15]</key>
		<string>face/10.gif</string>
		<key>[s:41]</key>
		<string>face/11.gif</string>
		<key>[s:37]</key>
		<string>face/12.gif</string>
		<key>[s:13]</key>
		<string>face/13.gif</string>
		<key>[s:21]</key>
		<string>face/14.gif</string>
		<key>[s:23]</key>
		<string>face/15.gif</string>
		<key>[s:40]</key>
		<string>face/16.gif</string>
		<key>[s:36]</key>
		<string>face/17.gif</string>
		<key>[s:35]</key>
		<string>face/18.gif</string>
		<key>[s:8]</key>
		<string>face/19.gif</string>
		<key>[s:39]</key>
		<string>face/20.gif</string>
		<key>[s:18]</key>
		<string>face/21.gif</string>
		<key>[s:6]</key>
		<string>face/22.gif</string>
		<key>[s:31]</key>
		<string>face/23.gif</string>
		<key>[s:14]</key>
		<string>face/24.gif</string>
		<key>[s:25]</key>
		<string>face/25.gif</string>
		<key>[s:30]</key>
		<string>face/26.gif</string>
		<key>[s:34]</key>
		<string>face/27.gif</string>
		<key>[s:11]</key>
		<string>face/28.gif</string>
		<key>[s:7]</key>
		<string>face/29.gif</string>
		<key>[s:26]</key>
		<string>face/30.gif</string>
		<key>[s:17]</key>
		<string>face/31.gif</string>
		<key>[s:16]</key>
		<string>face/32.gif</string>
		<key>[s:10]</key>
		<string>face/33.gif</string>
		<key>[s:20]</key>
		<string>face/34.gif</string>
		<key>[s:32]</key>
		<string>face/35.gif</string>
		<key>[s:134]</key>
		<string>face/150.gif</string>
		<key>[s:123]</key>
		<string>face/129.gif</string>
		<key>[s:122]</key>
		<string>face/179.gif</string>
		<key>[s:121]</key>
		<string>face/37.gif</string>
		<key>[s:120]</key>
		<string>face/43.gif</string>
		<key>[s:119]</key>
		<string>face/183.gif</string>
		<key>[s:118]</key>
		<string>face/181.gif</string>
		<key>[s:135]</key>
		<string>face/52.gif</string>
		<key>[s:136]</key>
		<string>face/106.gif</string>
		<key>[s:137]</key>
		<string>face/170.gif</string>
		<key>[s:138]</key>
		<string>face/111.gif</string>
		<key>[s:139]</key>
		<string>face/39.gif</string>
		<key>[s:140]</key>
		<string>face/156.jpg</string>
		<key>[s:141]</key>
		<string>face/123.gif</string>
		<key>[s:143]</key>
		<string>face/137.gif</string>
		<key>[s:144]</key>
		<string>face/186.gif</string>
		<key>[s:46]</key>
		<string>face/100.gif</string>
		<key>[s:116]</key>
		<string>face/82.gif</string>
		<key>[s:115]</key>
		<string>face/40.gif</string>
		<key>[s:44]</key>
		<string>face/112.gif</string>
		<key>[s:72]</key>
		<string>face/146.gif</string>
		<key>[s:76]</key>
		<string>face/164.gif</string>
		<key>[s:77]</key>
		<string>face/85.gif</string>
		<key>[s:79]</key>
		<string>face/48.gif</string>
		<key>[s:80]</key>
		<string>face/118.gif</string>
		<key>[s:81]</key>
		<string>face/57.gif</string>
		<key>[s:82]</key>
		<string>face/168.jpg</string>
		<key>[s:83]</key>
		<string>face/190.gif</string>
		<key>[s:84]</key>
		<string>face/74.gif</string>
		<key>[s:85]</key>
		<string>face/77.gif</string>
		<key>[s:86]</key>
		<string>face/141.gif</string>
		<key>[s:87]</key>
		<string>face/45.gif</string>
		<key>[s:88]</key>
		<string>face/182.jpg</string>
		<key>[s:89]</key>
		<string>face/53.gif</string>
		<key>[s:90]</key>
		<string>face/139.gif</string>
		<key>[s:68]</key>
		<string>face/159.jpg</string>
		<key>[s:66]</key>
		<string>face/178.gif</string>
		<key>[s:65]</key>
		<string>face/145.gif</string>
		<key>[s:43]</key>
		<string>face/47.gif</string>
		<key>[s:42]</key>
		<string>face/154.gif</string>
		<key>[s:47]</key>
		<string>face/152.gif</string>
		<key>[s:48]</key>
		<string>face/97.gif</string>
		<key>[s:49]</key>
		<string>face/96.gif</string>
		<key>[s:51]</key>
		<string>face/173.gif</string>
		<key>[s:52]</key>
		<string>face/188.gif</string>
		<key>[s:53]</key>
		<string>face/99.gif</string>
		<key>[s:54]</key>
		<string>face/135.gif</string>
		<key>[s:55]</key>
		<string>face/49.gif</string>
		<key>[s:56]</key>
		<string>face/148.gif</string>
		<key>[s:57]</key>
		<string>face/105.gif</string>
		<key>[s:59]</key>
		<string>face/143.gif</string>
		<key>[s:60]</key>
		<string>face/108.gif</string>
		<key>[s:45]</key>
		<string>face/38.gif</string>
		<key>[s:91]</key>
		<string>face/147.gif</string>
		<key>[s:114]</key>
		<string>face/120.gif</string>
		<key>[s:104]</key>
		<string>face/92.gif</string>
		<key>[s:107]</key>
		<string>face/55.gif</string>
		<key>[s:110]</key>
		<string>face/167.gif</string>
		<key>[s:105]</key>
		<string>face/46.gif</string>
		<key>[s:108]</key>
		<string>face/157.gif</string>
		<key>[s:109]</key>
		<string>face/180.gif</string>
		<key>[s:111]</key>
		<string>face/131.gif</string>
		<key>[s:112]</key>
		<string>face/133.gif</string>
		<key>[s:113]</key>
		<string>face/75.gif</string>
		<key>[s:102]</key>
		<string>face/162.jpg</string>
		<key>[s:101]</key>
		<string>face/110.gif</string>
		<key>[s:103]</key>
		<string>face/58.gif</string>
		<key>[s:98]</key>
		<string>face/88.gif</string>
		<key>[s:99]</key>
		<string>face/184.gif</string>
		<key>[s:97]</key>
		<string>face/125.gif</string>
		<key>[s:95]</key>
		<string>face/104.gif</string>
		<key>[s:94]</key>
		<string>face/103.gif</string>
		<key>[s:93]</key>
		<string>face/113.gif</string>
		<key>[s:92]</key>
		<string>face/122.gif</string>
		<key>[s:100]</key>
		<string>face/138.gif</string>
		<key>[s:58]</key>
		<string>face/187.gif</string>
		<key>[s:128]</key>
		<string>face/117.gif</string>
		<key>[s:127]</key>
		<string>face/189.gif</string>
		<key>[s:125]</key>
		<string>face/155.jpg</string>
		<key>[s:117]</key>
		<string>face/158.jpg</string>
		<key>[s:124]</key>
		<string>face/128.gif</string>
		<key>[s:96]</key>
		<string>face/175.gif</string>
		<key>[s:50]</key>
		<string>face/201.gif</string>
		<key>[s:67]</key>
		<string>face/114.gif</string>
		<key>[s:129]</key>
		<string>face/102.jpg</string>
		<key>[s:130]</key>
		<string>face/80.gif</string>
		<key>[s:61]</key>
		<string>face/98.gif</string>
		<key>[s:145]</key>
		<string>face/59.gif</string>
		<key>[s:78]</key>
		<string>face/132.gif</string>
		<key>[s:126]</key>
		<string>face/142.gif</string>
		<key>[s:75]</key>
		<string>face/81.gif</string>
		<key>[s:74]</key>
		<string>face/51.gif</string>
		<key>[s:73]</key>
		<string>face/171.gif</string>
		<key>[s:106]</key>
		<string>face/166.gif</string>
		<key>[s:71]</key>
		<string>face/84.gif</string>
		<key>[s:70]</key>
		<string>face/115.gif</string>
		<key>[s:69]</key>
		<string>face/165.gif</string>
		<key>[s:133]</key>
		<string>face/109.gif</string>
		<key>[s:132]</key>
		<string>face/90.gif</string>
		<key>[s:64]</key>
		<string>face/126.gif</string>
		<key>[s:131]</key>
		<string>face/200.gif</string>
		<key>[s:62]</key>
		<string>face/66.gif</string>
		<key>[s:63]</key>
		<string>face/144.gif</string>
	</dict>
	
	<key>dym</key>
	<dict>
		<key>[s:1324]</key>
		<string>dym/154.gif</string>
		<key>[s:1325]</key>
		<string>dym/152.gif</string>
		<key>[s:1326]</key>
		<string>dym/153.gif</string>
		<key>[s:1327]</key>
		<string>dym/148.gif</string>
		<key>[s:1328]</key>
		<string>dym/151.gif</string>
		<key>[s:1329]</key>
		<string>dym/149.gif</string>
		<key>[s:1330]</key>
		<string>dym/147.gif</string>
		<key>[s:1331]</key>
		<string>dym/155.gif</string>
		<key>[s:1332]</key>
		<string>dym/150.gif</string>
	</dict>

	<key>goose</key>
	<dict>
		<key>[s:1539]</key>
		<string>goose/186.gif</string>
		<key>[s:1519]</key>
		<string>goose/180.gif</string>
		<key>[s:1518]</key>
		<string>goose/157.gif</string>
		<key>[s:1517]</key>
		<string>goose/302.gif</string>
		<key>[s:1516]</key>
		<string>goose/166.gif</string>
		<key>[s:1515]</key>
		<string>goose/09.gif</string>
		<key>[s:1514]</key>
		<string>goose/46.gif</string>
		<key>[s:1513]</key>
		<string>goose/160.gif</string>
		<key>[s:1512]</key>
		<string>goose/b164.gif</string>
		<key>[s:1511]</key>
		<string>goose/bdd.gif</string>
		<key>[s:1510]</key>
		<string>goose/162.gif</string>
		<key>[s:1509]</key>
		<string>goose/b185.gif</string>
		<key>[s:1508]</key>
		<string>goose/92.gif</string>
		<key>[s:1507]</key>
		<string>goose/992.gif</string>
		<key>[s:1506]</key>
		<string>goose/d.gif</string>
		<key>[s:1505]</key>
		<string>goose/58.gif</string>
		<key>[s:1504]</key>
		<string>goose/30.gif</string>
		<key>[s:1503]</key>
		<string>goose/184.gif</string>
		<key>[s:1520]</key>
		<string>goose/6a.gif</string>
		<key>[s:1521]</key>
		<string>goose/455.gif</string>
		<key>[s:1538]</key>
		<string>goose/31.gif</string>
		<key>[s:1537]</key>
		<string>goose/b200.gif</string>
		<key>[s:1536]</key>
		<string>goose/19.gif</string>
		<key>[s:1535]</key>
		<string>goose/e.gif</string>
		<key>[s:1534]</key>
		<string>goose/159.gif</string>
		<key>[s:1533]</key>
		<string>goose/b02.gif</string>
		<key>[s:1532]</key>
		<string>goose/07.gif</string>
		<key>[s:1531]</key>
		<string>goose/b11.gif</string>
		<key>[s:1530]</key>
		<string>goose/170.gif</string>
		<key>[s:1529]</key>
		<string>goose/12.gif</string>
		<key>[s:1528]</key>
		<string>goose/06.gif</string>
		<key>[s:1527]</key>
		<string>goose/5e.gif</string>
		<key>[s:1526]</key>
		<string>goose/37.gif</string>
		<key>[s:1525]</key>
		<string>goose/181.gif</string>
		<key>[s:1524]</key>
		<string>goose/33.gif</string>
		<key>[s:1523]</key>
		<string>goose/82.gif</string>
		<key>[s:1522]</key>
		<string>goose/40.gif</string>
		<key>[s:1502]</key>
		<string>goose/b112.gif</string>
		<key>[s:1501]</key>
		<string>goose/88.gif</string>
		<key>[s:1481]</key>
		<string>goose/178.gif</string>
		<key>[s:1480]</key>
		<string>goose/01.gif</string>
		<key>[s:1479]</key>
		<string>goose/28.gif</string>
		<key>[s:1478]</key>
		<string>goose/50.gif</string>
		<key>[s:1477]</key>
		<string>goose/161.gif</string>
		<key>[s:1476]</key>
		<string>goose/0.7.gif</string>
		<key>[s:1475]</key>
		<string>goose/187.gif</string>
		<key>[s:1474]</key>
		<string>goose/08.gif</string>
		<key>[s:1473]</key>
		<string>goose/49.gif</string>
		<key>[s:1472]</key>
		<string>goose/10.gif</string>
		<key>[s:1471]</key>
		<string>goose/34.gif</string>
		<key>[s:1470]</key>
		<string>goose/13.gif</string>
		<key>[s:1469]</key>
		<string>goose/97.gif</string>
		<key>[s:1468]</key>
		<string>goose/152.gif</string>
		<key>[s:1467]</key>
		<string>goose/100.gif</string>
		<key>[s:1466]</key>
		<string>goose/38.gif</string>
		<key>[s:1465]</key>
		<string>goose/112.gif</string>
		<key>[s:1482]</key>
		<string>goose/114.gif</string>
		<key>[s:1483]</key>
		<string>goose/456.gif</string>
		<key>[s:1500]</key>
		<string>goose/11.gif</string>
		<key>[s:1499]</key>
		<string>goose/29.gif</string>
		<key>[s:1498]</key>
		<string>goose/53.gif</string>
		<key>[s:1497]</key>
		<string>goose/45.gif</string>
		<key>[s:1496]</key>
		<string>goose/3.gif</string>
		<key>[s:1495]</key>
		<string>goose/158.gif</string>
		<key>[s:1494]</key>
		<string>goose/b57.gif</string>
		<key>[s:1493]</key>
		<string>goose/190.gif</string>
		<key>[s:1492]</key>
		<string>goose/14.gif</string>
		<key>[s:1491]</key>
		<string>goose/35.gif</string>
		<key>[s:1490]</key>
		<string>goose/27.gif</string>
		<key>[s:1489]</key>
		<string>goose/171.gif</string>
		<key>[s:1488]</key>
		<string>goose/149.gif</string>
		<key>[s:1487]</key>
		<string>goose/84.gif</string>
		<key>[s:1486]</key>
		<string>goose/115.gif</string>
		<key>[s:1485]</key>
		<string>goose/32.gif</string>
		<key>[s:1484]</key>
		<string>goose/165.gif</string>
		<key>[s:1464]</key>
		<string>goose/15.gif</string>
	</dict>

	<key>zdl</key>
	<dict>
		<key>[s:1284]</key>
		<string>zdl/158.gif</string>
		<key>[s:1283]</key>
		<string>zdl/161.gif</string>
		<key>[s:1285]</key>
		<string>zdl/162.gif</string>
		<key>[s:1286]</key>
		<string>zdl/156.gif</string>
		<key>[s:1287]</key>
		<string>zdl/160.gif</string>
		<key>[s:1288]</key>
		<string>zdl/157.gif</string>
		<key>[s:1289]</key>
		<string>zdl/159.gif</string>
	</dict>

	<key>nq</key>
	<dict>
		<key>[s:1290]</key>
		<string>nq/016.gif</string>
		<key>[s:1304]</key>
		<string>nq/010.gif</string>
		<key>[s:1303]</key>
		<string>nq/009.gif</string>
		<key>[s:1302]</key>
		<string>nq/001.gif</string>
		<key>[s:1301]</key>
		<string>nq/002.gif</string>
		<key>[s:1300]</key>
		<string>nq/014.gif</string>
		<key>[s:1299]</key>
		<string>nq/003.gif</string>
		<key>[s:1298]</key>
		<string>nq/005.gif</string>
		<key>[s:1297]</key>
		<string>nq/015.gif</string>
		<key>[s:1296]</key>
		<string>nq/012.gif</string>
		<key>[s:1295]</key>
		<string>nq/008.gif</string>
		<key>[s:1294]</key>
		<string>nq/007.gif</string>
		<key>[s:1293]</key>
		<string>nq/011.jpg</string>
		<key>[s:1292]</key>
		<string>nq/004.gif</string>
		<key>[s:1291]</key>
		<string>nq/006.gif</string>
		<key>[s:1305]</key>
		<string>nq/013.gif</string>
	</dict>

	<key>normal</key>
	<dict>
		<key>[s:1409]</key>
		<string>normal/058.gif</string>
		<key>[s:1423]</key>
		<string>normal/026.gif</string>
		<key>[s:1424]</key>
		<string>normal/110.gif</string>
		<key>[s:1425]</key>
		<string>normal/077.gif</string>
		<key>[s:1426]</key>
		<string>normal/101.gif</string>
		<key>[s:1427]</key>
		<string>normal/052.gif</string>
		<key>[s:1428]</key>
		<string>normal/108.jpg</string>
		<key>[s:1429]</key>
		<string>normal/066.gif</string>
		<key>[s:1430]</key>
		<string>normal/083.gif</string>
		<key>[s:1431]</key>
		<string>normal/091.gif</string>
		<key>[s:1432]</key>
		<string>normal/095.gif</string>
		<key>[s:1433]</key>
		<string>normal/022.gif</string>
		<key>[s:1422]</key>
		<string>normal/024.gif</string>
		<key>[s:1421]</key>
		<string>normal/034.gif</string>
		<key>[s:1410]</key>
		<string>normal/032.gif</string>
		<key>[s:1411]</key>
		<string>normal/092.gif</string>
		<key>[s:1412]</key>
		<string>normal/122.gif</string>
		<key>[s:1413]</key>
		<string>normal/113.gif</string>
		<key>[s:1414]</key>
		<string>normal/103.gif</string>
		<key>[s:1415]</key>
		<string>normal/079.gif</string>
		<key>[s:1416]</key>
		<string>normal/104.gif</string>
		<key>[s:1417]</key>
		<string>normal/106.jpg</string>
		<key>[s:1418]</key>
		<string>normal/082.gif</string>
		<key>[s:1419]</key>
		<string>normal/102.gif</string>
		<key>[s:1420]</key>
		<string>normal/039.gif</string>
		<key>[s:1434]</key>
		<string>normal/045.jpg</string>
		<key>[s:1435]</key>
		<string>normal/056.gif</string>
		<key>[s:1436]</key>
		<string>normal/019.gif</string>
		<key>[s:1450]</key>
		<string>normal/080.gif</string>
		<key>[s:1451]</key>
		<string>normal/121.gif</string>
		<key>[s:1452]</key>
		<string>normal/111.gif</string>
		<key>[s:1453]</key>
		<string>normal/085.gif</string>
		<key>[s:1454]</key>
		<string>normal/107.gif</string>
		<key>[s:1455]</key>
		<string>normal/123.gif</string>
		<key>[s:1456]</key>
		<string>normal/023.gif</string>
		<key>[s:1457]</key>
		<string>normal/088.gif</string>
		<key>[s:1458]</key>
		<string>normal/096.gif</string>
		<key>[s:1459]</key>
		<string>normal/057.gif</string>
		<key>[s:1460]</key>
		<string>normal/037.gif</string>
		<key>[s:1449]</key>
		<string>normal/094.gif</string>
		<key>[s:1448]</key>
		<string>normal/053.gif</string>
		<key>[s:1437]</key>
		<string>normal/025.gif</string>
		<key>[s:1438]</key>
		<string>normal/120.gif</string>
		<key>[s:1439]</key>
		<string>normal/068.gif</string>
		<key>[s:1440]</key>
		<string>normal/063.gif</string>
		<key>[s:1441]</key>
		<string>normal/065.gif</string>
		<key>[s:1442]</key>
		<string>normal/071.gif</string>
		<key>[s:1443]</key>
		<string>normal/081.gif</string>
		<key>[s:1444]</key>
		<string>normal/090.jpg</string>
		<key>[s:1445]</key>
		<string>normal/117.gif</string>
		<key>[s:1446]</key>
		<string>normal/049.jpg</string>
		<key>[s:1447]</key>
		<string>normal/109.gif</string>
		<key>[s:1461]</key>
		<string>normal/062.gif</string>
		<key>[s:1408]</key>
		<string>normal/076.gif</string>
		<key>[s:1355]</key>
		<string>normal/017.gif</string>
		<key>[s:1369]</key>
		<string>normal/051.gif</string>
		<key>[s:1370]</key>
		<string>normal/064.gif</string>
		<key>[s:1371]</key>
		<string>normal/020.gif</string>
		<key>[s:1372]</key>
		<string>normal/041.gif</string>
		<key>[s:1373]</key>
		<string>normal/054.gif</string>
		<key>[s:1374]</key>
		<string>normal/072.gif</string>
		<key>[s:1375]</key>
		<string>normal/119.gif</string>
		<key>[s:1376]</key>
		<string>normal/098.gif</string>
		<key>[s:1377]</key>
		<string>normal/089.gif</string>
		<key>[s:1378]</key>
		<string>normal/044.gif</string>
		<key>[s:1379]</key>
		<string>normal/105.gif</string>
		<key>[s:1368]</key>
		<string>normal/038.gif</string>
		<key>[s:1367]</key>
		<string>normal/073.gif</string>
		<key>[s:1356]</key>
		<string>normal/021.gif</string>
		<key>[s:1357]</key>
		<string>normal/087.gif</string>
		<key>[s:1358]</key>
		<string>normal/074.gif</string>
		<key>[s:1359]</key>
		<string>normal/112.gif</string>
		<key>[s:1360]</key>
		<string>normal/086.gif</string>
		<key>[s:1361]</key>
		<string>normal/093.gif</string>
		<key>[s:1362]</key>
		<string>normal/100.gif</string>
		<key>[s:1363]</key>
		<string>normal/047.gif</string>
		<key>[s:1364]</key>
		<string>normal/043.gif</string>
		<key>[s:1365]</key>
		<string>normal/050.gif</string>
		<key>[s:1366]</key>
		<string>normal/035.gif</string>
		<key>[s:1380]</key>
		<string>normal/075.gif</string>
		<key>[s:1381]</key>
		<string>normal/031.gif</string>
		<key>[s:1382]</key>
		<string>normal/084.gif</string>
		<key>[s:1396]</key>
		<string>normal/061.gif</string>
		<key>[s:1397]</key>
		<string>normal/033.gif</string>
		<key>[s:1398]</key>
		<string>normal/067.gif</string>
		<key>[s:1399]</key>
		<string>normal/048.jpg</string>
		<key>[s:1400]</key>
		<string>normal/059.gif</string>
		<key>[s:1401]</key>
		<string>normal/029.gif</string>
		<key>[s:1402]</key>
		<string>normal/116.gif</string>
		<key>[s:1403]</key>
		<string>normal/060.gif</string>
		<key>[s:1404]</key>
		<string>normal/115.jpg</string>
		<key>[s:1405]</key>
		<string>normal/097.gif</string>
		<key>[s:1406]</key>
		<string>normal/042.png</string>
		<key>[s:1395]</key>
		<string>normal/036.gif</string>
		<key>[s:1394]</key>
		<string>normal/027.gif</string>
		<key>[s:1383]</key>
		<string>normal/099.gif</string>
		<key>[s:1384]</key>
		<string>normal/046.gif</string>
		<key>[s:1385]</key>
		<string>normal/018.gif</string>
		<key>[s:1386]</key>
		<string>normal/078.gif</string>
		<key>[s:1387]</key>
		<string>normal/114.gif</string>
		<key>[s:1388]</key>
		<string>normal/030.gif</string>
		<key>[s:1389]</key>
		<string>normal/070.gif</string>
		<key>[s:1390]</key>
		<string>normal/028.gif</string>
		<key>[s:1391]</key>
		<string>normal/040.gif</string>
		<key>[s:1392]</key>
		<string>normal/124.gif</string>
		<key>[s:1393]</key>
		<string>normal/118.gif</string>
		<key>[s:1407]</key>
		<string>normal/055.gif</string>
	</dict>

	<key>flash</key>
	<dict>
		<key>[s:1343]</key>
		<string>flash/135.gif</string>
		<key>[s:1353]</key>
		<string>flash/128.gif</string>
		<key>[s:1352]</key>
		<string>flash/129.gif</string>
		<key>[s:1351]</key>
		<string>flash/133.gif</string>
		<key>[s:1350]</key>
		<string>flash/131.gif</string>
		<key>[s:1349]</key>
		<string>flash/125.gif</string>
		<key>[s:1348]</key>
		<string>flash/132.gif</string>
		<key>[s:1347]</key>
		<string>flash/136.gif</string>
		<key>[s:1346]</key>
		<string>flash/126.gif</string>
		<key>[s:1345]</key>
		<string>flash/127.gif</string>
		<key>[s:1344]</key>
		<string>flash/130.gif</string>
		<key>[s:1354]</key>
		<string>flash/134.gif</string>
	</dict>

	<key>animal</key>
	<dict>
		<key>[s:1333]</key>
		<string>animal/140.gif</string>
		<key>[s:1342]</key>
		<string>animal/137.gif</string>
		<key>[s:1341]</key>
		<string>animal/142.gif</string>
		<key>[s:1340]</key>
		<string>animal/145.jpg</string>
		<key>[s:1339]</key>
		<string>animal/138.gif</string>
		<key>[s:1338]</key>
		<string>animal/139.gif</string>
		<key>[s:1337]</key>
		<string>animal/141.gif</string>
		<key>[s:1336]</key>
		<string>animal/146.gif</string>
		<key>[s:1335]</key>
		<string>animal/144.gif</string>
		<key>[s:1334]</key>
		<string>animal/143.gif</string>
		<key>[s:1462]</key>
		<string>animal/203.gif</string>
	</dict>
		
	<key>carton</key>
	<dict>
		<key>[s:1306]</key>
		<string>carton/173.gif</string>
		<key>[s:1322]</key>
		<string>carton/169.gif</string>
		<key>[s:1321]</key>
		<string>carton/176.gif</string>
		<key>[s:1320]</key>
		<string>carton/172.jpg</string>
		<key>[s:1319]</key>
		<string>carton/179.gif</string>
		<key>[s:1318]</key>
		<string>carton/174.gif</string>
		<key>[s:1317]</key>
		<string>carton/168.gif</string>
		<key>[s:1316]</key>
		<string>carton/167.gif</string>
		<key>[s:1315]</key>
		<string>carton/178.jpg</string>
		<key>[s:1314]</key>
		<string>carton/180.gif</string>
		<key>[s:1313]</key>
		<string>carton/166.gif</string>
		<key>[s:1312]</key>
		<string>carton/175.gif</string>
		<key>[s:1311]</key>
		<string>carton/177.gif</string>
		<key>[s:1310]</key>
		<string>carton/164.gif</string>
		<key>[s:1309]</key>
		<string>carton/171.gif</string>
		<key>[s:1308]</key>
		<string>carton/165.gif</string>
		<key>[s:1307]</key>
		<string>carton/163.jpg</string>
		<key>[s:1323]</key>
		<string>carton/170.gif</string>
	</dict>

	<key>bundam</key>
	<dict>
		<key>[s:1240]</key>
		<string>bundam/7.png</string>
		<key>[s:1259]</key>
		<string>bundam/17.png</string>
		<key>[s:1260]</key>
		<string>bundam/16.png</string>
		<key>[s:1261]</key>
		<string>bundam/11.png</string>
		<key>[s:1262]</key>
		<string>bundam/21.png</string>
		<key>[s:1264]</key>
		<string>bundam/62.gif</string>
		<key>[s:1265]</key>
		<string>bundam/78.gif</string>
		<key>[s:1266]</key>
		<string>bundam/69.gif</string>
		<key>[s:1267]</key>
		<string>bundam/73.gif</string>
		<key>[s:1268]</key>
		<string>bundam/68.gif</string>
		<key>[s:1269]</key>
		<string>bundam/71.gif</string>
		<key>[s:1270]</key>
		<string>bundam/72.gif</string>
		<key>[s:1271]</key>
		<string>bundam/63.gif</string>
		<key>[s:1272]</key>
		<string>bundam/83.gif</string>
		<key>[s:1273]</key>
		<string>bundam/70.gif</string>
		<key>[s:1274]</key>
		<string>bundam/76.gif</string>
		<key>[s:1258]</key>
		<string>bundam/22.png</string>
		<key>[s:1257]</key>
		<string>bundam/10.png</string>
		<key>[s:1256]</key>
		<string>bundam/3.png</string>
		<key>[s:1263]</key>
		<string>bundam/65.gif</string>
		<key>[s:1242]</key>
		<string>bundam/18.png</string>
		<key>[s:1243]</key>
		<string>bundam/13.png</string>
		<key>[s:1244]</key>
		<string>bundam/15.png</string>
		<key>[s:1245]</key>
		<string>bundam/9.png</string>
		<key>[s:1246]</key>
		<string>bundam/2.png</string>
		<key>[s:1247]</key>
		<string>bundam/5.png</string>
		<key>[s:1248]</key>
		<string>bundam/4.png</string>
		<key>[s:1249]</key>
		<string>bundam/14.png</string>
		<key>[s:1250]</key>
		<string>bundam/20.png</string>
		<key>[s:1251]</key>
		<string>bundam/6.png</string>
		<key>[s:1252]</key>
		<string>bundam/23.png</string>
		<key>[s:1253]</key>
		<string>bundam/8.png</string>
		<key>[s:1254]</key>
		<string>bundam/19.png</string>
		<key>[s:1255]</key>
		<string>bundam/12.png</string>
		<key>[s:1275]</key>
		<string>bundam/64.gif</string>
	</dict>		
</dict>
</plist>
